$themeColor: #26fcfb; 
$themeColorHover: #26fcfb; 
$pageBackground: #fff; 
$lightButtonColor: #ffffff;   
$lightButtonBorderColor: #a0a0a0; 
$lightButtonColorHover: #f1f1f1; 
 
$black: #020102; 
.black{color: $black;}

$red: #f23e4a; 
$vegetables: #a3ce71;
$fruits: #20c3f3;
$meats: #fd7d91;
$blue: #116dff;
$yellow: #f4ac26;
$green: #28d094;

.color{color: #26fcfb; }    
.gray{color: #8592a5;} 
.blue{color: $blue;} 
.green{color: $green;}
.red{color: $red;}


